<section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Bienvenue sur E-SIGMAP</h1>
          <h2>Le portail des marchés public du sénégal</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started scrollto">SIGMAP</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="../../../content/assets/img/hero-img.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portail des marchés public du Sénégal</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              Le processus de dématérialisation de la commande publique initié depuis quelques années 
              par la Trésorerie Générale du Sénégal s’inscrit dans le cadre du programme de numérisation qui 
              vise comme objectifs stratégiques la consécration de la transparence, la simplification des procédures 
              et la modernisation des processus d’exécution de la dépense publique.
              <img src="../../content/images/senegal.png" class="img-fluid">
              
              
            </p>

          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              <img src="../../content/images/senegal.png" class="img-fluid">
              Le programme de dématérialisation de la commande publique s’articule autour trois paliers constitués de six 
              composantes réalisées selon une démarche progressive et pragmatique prenant en compte les attentes des acteurs de l’achat public au Sénégal.
            </p>
          </div>
        </div>

      </div>
    </section>

