<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-commune-heading" data-cy="CommuneCreateUpdateHeading" jhiTranslate="gatewayApp.referentielCommune.home.createOrEditLabel">
        Créer ou éditer un Commune
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.referentielCommune.addresse" for="field_addresse">Addresse</label>
          <input type="text" class="form-control" name="addresse" id="field_addresse" data-cy="addresse" formControlName="addresse" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.referentielCommune.denomination" for="field_denomination">Denomination</label>
          <input
            type="text"
            class="form-control"
            name="denomination"
            id="field_denomination"
            data-cy="denomination"
            formControlName="denomination"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.referentielCommune.faxe" for="field_faxe">Faxe</label>
          <input type="text" class="form-control" name="faxe" id="field_faxe" data-cy="faxe" formControlName="faxe" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.referentielCommune.logo" for="field_logo">Logo</label>
          <input type="text" class="form-control" name="logo" id="field_logo" data-cy="logo" formControlName="logo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.referentielCommune.sigle" for="field_sigle">Sigle</label>
          <input type="text" class="form-control" name="sigle" id="field_sigle" data-cy="sigle" formControlName="sigle" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.referentielCommune.telephone" for="field_telephone">Telephone</label>
          <input type="text" class="form-control" name="telephone" id="field_telephone" data-cy="telephone" formControlName="telephone" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.referentielCommune.urlsiteweb" for="field_urlsiteweb">Urlsiteweb</label>
          <input
            type="text"
            class="form-control"
            name="urlsiteweb"
            id="field_urlsiteweb"
            data-cy="urlsiteweb"
            formControlName="urlsiteweb"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.referentielCommune.type" for="field_type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'gatewayApp.Type.null' | translate }}</option>
            <option *ngFor="let type of typeValues" [value]="type">{{ 'gatewayApp.Type.' + type | translate }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.referentielCommune.typeautorite" for="field_typeautorite">Typeautorite</label>
          <select
            class="form-control"
            id="field_typeautorite"
            data-cy="typeautorite"
            name="typeautorite"
            formControlName="typeautorite"
            [compareWith]="compareTypeAutoriteContractante"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="typeAutoriteContractanteOption"
              *ngFor="let typeAutoriteContractanteOption of typeAutoriteContractantesSharedCollection"
            >
              {{ typeAutoriteContractanteOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.referentielCommune.department" for="field_department">Department</label>
          <select
            class="form-control"
            id="field_department"
            data-cy="department"
            name="department"
            formControlName="department"
            [compareWith]="compareDepartement"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="departementOption" *ngFor="let departementOption of departementsSharedCollection">
              {{ departementOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
